vpc_name              = "test-vpc"
vpc_cidr              = "10.0.0.0/16"
cluster_name          = "test-cluster"
access_key            = ""
secret_key            = ""
keypair               = "aws_temp_key_pair"
github_token          = ""
github_owner          = ""
github_repository     = ""
